@use '/src/styles/constants/colors';

.mainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 65px 30px;

  .mainTitle {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: colors.$FS_MAIN_YELLOW;
    text-transform: uppercase;
    letter-spacing: 10px;
  }
}
