@use '/src/styles/mixins/position';
@use '/src/styles/constants/colors';

.gnb {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 24px 0;
  background-color: gold;
  border-bottom: 1px solid colors.$GRAYE;

  ul {
    display: flex;
  }

  li {
    + li {
      margin-left: 14px;
    }
  }

  a {
    padding: 4px 14px;
    color: colors.$GRAY2;

    &.isActive {
      font-weight: 600;
    }
  }

  .rightWing {
    @include position.absolute(50% 24px auto auto);
    transform: translateY(-50%);

    button {
      margin-left: 14px;
    }
  }

  .leftWing {
    @include position.absolute(50% auto auto 24px);
    transform: translateY(-50%);
  }
}
