@use '/src/styles/constants/colors';

.itemWrapper {
  position: relative;
  margin-top: 10px;
  margin-right: 10px;

  .cartAddBtn {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background-color: colors.$FS_MAIN_YELLOW;
  }

  .titleBlock {
    padding: 20px 10px;

    dd {
      font-size: 18px;
      font-weight: 700;
    }
  }

  dl {
    margin: 10px 0;
    text-align: center;

    dt {
      display: none;
    }
  }

  .countModal {
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 80%);

    .costBlock {
      margin-top: 10px;
      text-align: center;

      label {
        display: block;
        font-size: 26px;
        font-weight: 700;
        color: colors.$FS_MAIN_GRAY;
        text-transform: uppercase;
        letter-spacing: 3px;
      }

      input {
        color: colors.$FS_MAIN_YELLOW;
        text-align: center;
      }
    }

    .bottomBtns {
      position: absolute;
      bottom: 0;
      width: 100%;

      button {
        width: 50%;
        padding: 10px 0;
        font-size: 20px;
        color: colors.$WHITE;

        &:hover {
          font-weight: 700;
        }
      }

      button:first-child {
        color: colors.$FS_MAIN_YELLOW;
      }
    }

    .countBlock {
      width: 100%;

      input {
        width: 200px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
        color: colors.$WHITE;
        text-align: center;
        vertical-align: middle;
        transform: translateY(-40%);
      }

      .countBtn {
        width: 50px;
        height: 50px;
        font-size: 28px;
        border-radius: 50%;

        svg {
          width: 50px;
          height: 50px;
          fill: colors.$WHITE;
        }
      }
    }
  }
}
